@font-face {
	font-family: "Bebas";
	src: url("../fonts/Bebas.eot");
	src: local("☺"), url("../fonts/Bebas.woff") format("woff"), url("../fonts/Bebas.ttf") format("truetype"),
		url("../fonts/Bebas.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@import "_nullstyle";

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 10px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.license {
	border: 10px solid #ebebeb;
	background-color: #f8f8f8;
	max-width: 370px;
	width: 100%;
	padding: 30px 12px;
}
.license__form {
	display: flex;
	flex-direction: column;
}
.license__form-input {
	margin-bottom: 5px;
}
.license__radiobutton {
	color: #a2a2a2;
	font-size: 12px;
	font-weight: 700;
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 10px 0 40px;
	position: relative;
	cursor: pointer;
	border: 1px solid transparent;
	transition: all 0.3s ease 0s;
	p:first-child {
		font-family: "Bebas";
		color: #787878;
		font-size: 14px;
		font-weight: 400;
		flex: 1 1 auto;
	}
	input {
		display: none;
	}
	&:before{
		content: '';
		width: 20px;
		height: 20px;
		border: 3px solid #dadada;
		border-radius: 50%;
		position: absolute;
		top: 14px;
		left: 10px;
		transition: all 0.3s ease 0s;
	}
	&:after{
		content: '';
		transition: all 0.3s ease 0s;
		position: absolute;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		top: 20px;
		left: 16px;
		background-color: #0294bf;
		transform: scale(0);
	}
	&.active{
		border: 1px solid #cde2ea;
		background-color: #ebf4f7;
		&:before{
			border: 3px solid #34648e;
		}
		&:after{
			transform: scale(1);
		}
	}
}
.select-input {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	left: 0;
	top: 20px;
	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		height: 1px;
		width: 100%;
		background-color: #e7e7e7;
	}
	&:before {
		top: -20px;
	}
	&:after {
		bottom: -20px;
	}
	select {
		font-size: 12px;
		color: #555555;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
		outline: 0;
		width: 46px;
		height: 24px;
		border: 2px solid #b8cef2;
		border-radius: 2px;
		background: url('../img/arrow.svg') 90% 50%/20% no-repeat;
		padding: 0 3px;
	}
}
.license__form-select-name {
	margin-right: 10px;
	color: #555555;
	font-size: 12px;
	font-weight: 700;
}
.license__result {
	font-family: "Bebas";
	margin-top: 50px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin-bottom: 20px;
}
.license__total {
	color: #787878;
	margin-right: 10px;
	font-size: 16px;
}
.license__total-result {
	color: #3488a8;
	font-size: 16px;
	&:before {
		content: "$";
	}
	&:after {
		content: "us";
		font-size: 10px;
		position: relative;
		left: 0;
		top: -5px;
	}
}
.license__button {
	text-transform: uppercase;
	color: #ffffff;
	background-color: #33a845;
	padding: 10px 40px;
	border-radius: 30px;
	transition: all 0.3s ease 0s;
	align-self: center;
	font-size: 12px;
	&:hover {
		background-color: #4cd661;
	}
	margin-bottom: 20px;
}
.license__plan-selected {
	color: #4693b0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.plan-name {
	margin-left: 5px;
}
